<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Sobre Nosotros</h5>
                <p class="small text-secondary">Sistema de gestión veterinaria desarrollado para la evaluación 2.</p>
            </div>
            <div class="col-md-6 text-end">
                <h5>Contacto</h5>
                <p class="small text-secondary">alexander.cortes16@inacapmail.cl - angelo.zamora@inacapmail.cl | 2026</p>
            </div>
        </div>
        <hr class="border-secondary">
        <p class="text-center small">© Alexander Cortés | Angelo Zamora - Estudiantes de Informática Inacap</p>
    </div>
</footer>